$main-color: #333;

@mixin border {
  border: 2px solid #333;
  border-radius: 5px;
}

:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $main-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-page__layout {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.main-page__layout_left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main-page__layout_right {
  width: 25%;
}

.chat_box {
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  border-radius: 5px;
  font-weight: bold;
  font-size: bold;
  padding: 20px;
  @include border;
}

.chat_input {
  width: 100%;
  height: 8%;
  min-height: 50px;
}

.chat_input > form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.chat_input > form > input {
  width: 90%;
  @include border;
  border-radius: 5px 0 0 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: inherit;
  border-right: none;
}

.chat_input > form > button {
  background-color: #fff;
  width: 10%;
  min-width: 60px;
  font-size: inherit;
  font-weight: bold;
  @include border;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
  transition: 150ms;
}

.chat_input > form > button:hover {
  background-color: rgb(241, 241, 241);
}

.user_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  @include border;
  padding: 20px;
}

.user_box > h3 {
  margin: 0;
}

.user_box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 30px;
}

.user_box form > input, button {
  font-size: inherit;
  font-weight: bold;
  min-height: 50px;
  background-color: #fff;
  @include border
}

.user_box form > input {
  padding: 0 20px;
}

.user_box form > button {
  cursor: pointer;
  transition: 150ms;
  width: 50%;
  min-width: 70px;
}

.user_box form > button:hover {
  background-color: rgb(241, 241, 241);
}

.copyright {
  align-self: center;
}

input:focus {
  outline: none;
}